---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PaperList from "@components/PaperList.tsx";

// GraphQL query
const query = `
  query GetPyps {
    pyps(order_by: {school: asc}) {
      id
      title
      year
      type
      subject
      school
      level
      s3_url
    }
  }
`;

// Fetch data from Hasura
const response = await fetch('https://teebloc.hasura.app/v1/graphql', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    'x-hasura-admin-secret': import.meta.env.HASURA_ADMIN_SECRET,
  },
  body: JSON.stringify({ query }),
});
const {data} = await response.json();
const pyps = data.pyps;
---

<Layout title="Free Past Year Papers">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Free Past Year Papers</Fragment>
      <Fragment slot="desc">
        Past year papers from top Singapore schools.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <PaperList papers={pyps} />
    </main>
  </Container>
</Layout>
