---
// @ts-ignore
import { Icon } from "astro-icon/components";

const steps = [
  "Filter questions by subject, topic, level, paper type, assessment type, and school",
  "Select the questions you want to include in your practice worksheet",
  "Checkout and download a PDF of the questions with answers attached at the back"
]
---

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Get ahead of the bell curve
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Stop wasting time on unfocused practice. Maximise your learning by drilling your weakest topics.
  </p>
</div>

<div class="mt-8">
  <video class="w-full rounded-lg" controls>
    <source src="/public/intro-video.mp4" type="video/mp4" />
    <source src="/public/intro-video.webm" type="video/webm" />
    Your browser does not support the video tag.
  </video>
</div>


<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Pricing
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Free for 1 week. Afterwards, pay 10 cents per open ended question and 5 cents per multiple choice question.
  </p>
</div>
