<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Teebloc. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made with ❤️ from Singapore
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Contact: teebloc.co@gmail.com
  </p>
</footer>
